.footer-bg .logo  {
    margin-top: 30px;
    display: flex;
    align-items: baseline;
    text-align: center;
    justify-content: center;
}



.footer-bg {
    height: 600px;
    background-color: var(--cor-12);
}


.footer-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.footer-conteudo li {
    margin-top: 20px;
}


.footer-conteudo {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    text-align: center;
}

.footer-conteudo a:hover {
    color: var(--cor-0);
}

.copy {
    text-align: center;
}

.copy:hover {
    color: var(--cor-0);
}