.intro-produtos-bg {
    height: 800px;
    background-color: var(--cor-12);
}

.intro-produtos {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 600px;

}

.intro-produtos h1 span {
    animation-delay: calc(0.2s * var(--index)); /* delay para cada letra */
}

.intro-produtos h1 span:nth-child(1) {
    --index: 1;
}

.intro-produtos h1 span:nth-child(2) {
    --index: 2;
}

.intro-produtos h1 span:nth-child(3) {
    --index: 3;
}

.intro-produtos h1 span:nth-child(4) {
    --index: 4;
}

.intro-produtos h1 span:nth-child(5) {
    --index: 5;
}

.intro-produtos h1 span:nth-child(6) {
    --index: 6;
}

.intro-produtos h1 span:nth-child(7) {
    --index: 7;
}

.intro-produtos h1 span:nth-child(8) {
    --index: 8;
}

.intro-produtos h1 span:nth-child(9) {
    --index: 9;
}

.intro-produtos h1 span:nth-child(10) {
    --index: 10;
}

.intro-produtos h1 span:nth-child(11) {
    --index: 11;
}

.intro-produtos h1 span:nth-child(12) {
    --index: 12;
}

.intro-produtos h1 span:nth-child(13) {
    --index: 13;
}

.intro-produtos h1 span:nth-child(14) {
    --index: 14;
}

.intro-produtos h1 span:nth-child(15) {
    --index: 15;
}

.intro-produtos h1 span:nth-child(16) {
    --index: 16;
}

.intro-produtos h1 span:nth-child(17) {
    --index: 17;
}

.intro-produtos h1 span:nth-child(18) {
    --index: 18;
}

.intro-produtos h1 span:nth-child(19) {
    --index: 19;
}

.intro-produtos h1 span:nth-child(20) {
    --index: 20;
}

.intro-produtos h1 span:nth-child(21) {
    --index: 21;
}

.intro-produtos h1 span:nth-child(22) {
    --index: 22;
}

.intro-produtos h1 span:nth-child(23) {
    --index: 23;
}

.intro-produtos h1 span:nth-child(24) {
    --index: 24;
}

.intro-produtos h1 span:nth-child(25) {
    --index: 25;
}

.intro-produtos h1 span:nth-child(26) {
    --index: 26;
}

.intro-produtos h1 span:nth-child(27) {
    --index: 27;
}

.intro-produtos h1 span:nth-child(28) {
    --index: 28;
}

.intro-produtos h1 span:nth-child(29) {
    --index: 29;
}

.intro-produtos h1 span:nth-child(30) {
    --index: 30;
}

.intro-produtos h1 span:nth-child(31) {
    --index: 31;
}


.glass {
    height: 600px;
    width: 1050px;
    background: rgba(5, 110, 14, 0.142);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.cards-produtos {
    text-align: center;
    height: 800px;
    width: 100%;
    background: rgba(1, 83, 8, 0.142);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 40px;
    align-items: center;
}

.cards-produtos h1 {
    margin-bottom: 20px;
}

.cards-produtos video {
    height: 600px;
    width: 800px;
}


#videointro {
    height: 700px;
    width: 1000px;
}

.produtos-bg {
    height: auto;
}


.produtos {
    margin-top: 60px;
}

.text-conteudo {
 display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: center;
}

.text-conteudo h2{
 
 margin-bottom: 20px;
}


.text-conteudo ul{
    margin-bottom: 20px;

}


.text-conteudo li{
    margin-bottom: 20px;

}

.card-final {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    gap: 40px;
    align-items: center;
    text-align: center;
    height: 300px;

}

.dominio,.hospedagem  {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-12);
    gap: 40px;
    border-radius: 10px;
    align-items: center;
    width: auto;
}

.dominio{
    height: 300px;
}

.dominio li{
    margin-top: 20px;
}

.card-final-bg{
    background-color: var(--cor-11);
    height: 500px;
    display: flex;
    align-items: center;
}

.seta::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent var(--cor-p1);
   margin-right: 10px;
  }

  @media only screen and (max-width: 768px) {


.glass{
    height: auto;
    align-items: center;
}
.intro-produtos .glass {
    width: 510px;
    height: 600px;
}

.intro-produtos video{
    max-height: 300px;
    max-width: 500px;
}

.cards-produtos video {
    max-width: 510px;
    max-height: 300px;
    
}
.produtos .glass {
    display: flex;
    align-items: center;
}

.dominio{
   height: 350px;
}

.hospedagem {
    height: 250px;
}




.conteudo {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


  }


  @media only screen and (max-width: 768px) {



    

    header {
      position: static;
      top: 0;
    }
    
    #x2 {
      display: none;
    }

    #nav2{
      display: none;
    }

    .header-bg {
      height: 100px;
      margin-bottom: 0px;
      display: block;
    }


    .header-menu {
        display: none;
      }

    
      
      .header-menu.active {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        
      }

    .hamburger {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        top: 8%;
        left: 90%;
        transform: translate(-50%, -50%);
        width: 30px; /* ajuste o valor de acordo com o tamanho do seu ícone */
        height: 30px; /* ajuste o valor de acordo com o tamanho do seu ícone */
      }
      
      .hamburger span {
        display: block;
        width: 30px;
        height: 10px;
        background-color: var(--cor-p1);
        margin-bottom: 5px;
        border-radius: 5px;
      }
      
      .hamburger span:last-child {
        margin-bottom: 0;
      }

    .hamburger {
      width: 40px;
      height: 40px;
    }
    .hamburger span {
      width: 40px;
      height: 7px;
    }
  }
  
  /* Disable dropdown menu on mobile devices */
  @media only screen and (max-width: 768px) {
  .dropdown-menu {
    display: none;
  }
 
  }
  

  